extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Aviate")

block content
  include ../views/templates

  section.project
    +project-header( 'Aviate', 'Contextual Android Homescreen', 'Product Design | 2013-14', 'aviate' )

    .project-content
      .text.columns
        p Aviate is a smart and contextual launcher for your Android device that simpli!es the clutter of your phone homescreen.
        p I joined a 5 people start-up team as the lead designer. After launching the beta, we got acquired by Yahoo. During 2015 I continued leading the team towards a GA launch.
        p I took care of UI, UX, Interaction design, Marketing and, together with the founders, worked on product design.

        p Aviate is a smart and contextual launcher for your Android Device that simplifies the clutter of your home screen.
        p I joined a five person team as the lead designer. After launching the beta, we got acquired by Yahoo.
        p During 2015, I continued leading the team towards a GA launch.

        a(href="https://play.google.com/store/apps/details?id=com.tul.aviate&hl=en")
          img(src="https://lh3.ggpht.com/wT29z9fpu4H4EJbLB-WN60wjMsU_Nw7YGZOAFQTgzFXNdwfj7wFs69TUdistN2GJ8Nhe=w300-rw", width="100")

      .images.vertical.shadow
        +image("projects/aviate/homescreen", "What users see after unlocking their phone" )
        +image("projects/aviate/collections", "Aviate's collections auto-categorize apps, surfaces the most used ones and suggest relevant ones" )
        +image("projects/aviate/az", "Aviate's AZ is a very fast way to open an app" )
        +image("projects/aviate/contacts", "With just a swipe from the bottom a user can quickly call or message their favorite contacts" )

      .text.columns
        p The main challenge was in how to improve and quicken access to all the content a user needs. But not all users are the same. So having a clever onboarding and increasingly o!ering new features was key to a great user reception of the product. A very robust design system based on components ensured consistency.
        p At the same time, one of the key propositions of Aviate was to surface content relevant to the user's context. So, how do you design for thousands of di!erent user contexts?
        p By ruthlessly prototyping simulations of di!erent context and making qualitative assumptions. Then testing out with the millions of users we had.

      .images.vertical.shadow
        +image("projects/aviate/smarts", "Aviate gives you the most relevant information with just one swipe to the right" )
        +image("projects/aviate/substream-entertainment", "Entertainment's space offers news, new games to install, etc." )
        +image("projects/aviate/substream-places", "Places' space offers useful information when moving around" )
        +image("projects/aviate/substream-today", "Today's space offers all logistic needs like travel schedules, meetings, etc." )
        +image("projects/aviate/search-suggestions", "From any screen, a user can swipe down to start searching across the web and your device" )
