extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Broadway")

block content
  include ../views/templates

  section.project
    +project-header( 'Broadway', 'Cards Platform', 'Design - 2015', 'broadway' )

    .project-content
      .text.columns
        p Broadway is a design language for Yahoo Content Cards. I led the design effort for the content cards shown in search products.
        p At the time, Yahoo was displaying content in a myriad of ways. Different designers were designing the same pieces. It was necessary to bring consistency and communication across teams.
        p I brought together Yahoo’s VP of Design Direction, Yahoo’s Design System Team and the leads of several content verticals, getting them onto the same page.


      .images.shadow
        +image("projects/broadway/bway_cards", "empty")

      .text.columns
        p One of the major challenges of this project was getting buy-in from dozens of lead designers and PMs in Yahoo. I achieved that by bringing clarity to conversations, listening to designers' and PMs' needs and coming up with a proposal that was limited but also had  space for flexibility.

        p To bring together multiple design teams I created a strict design system that was versatile enough for different types of content. This lead to a design style focused on components that prioritized clarity, actions over information and a cohesive hierarchy of text styles, icons, buttons, and media.

      .images
        +image("projects/broadway/bway_2","Guidelines on card structuring, spacing rules, etc.")
        +image("projects/broadway/bway_1","Atomic Card styles")
        +image("projects/broadway/bway_3","Typographical styles")
        +image("projects/broadway/bway_4","Some of the system components and its rules")
        //- p
        //-   strong Some of the Card Design Guidelines
        //- .row.flxWrap.jcsb
        //-   .img( style="width:50%" )
        //-     img(src="images/bway_2.png")
        //-   .img( style="width:50%" )
        //-     img(src="images/bway_3.png")
        //-
        //- img(src="images/bway_4.png", width="100%")
        //-
        //- p
        //-   strong Some of the cards produced inside the platform
        //-
        //- a(href="images/bway_cards.png")
        //-   img(src="images/bway_cards.png", width="100%")
