extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("CalMeet")

block content
  include ../views/templates

  section.project
    +project-header( 'CalMeet', 'Fast 1-on1 Scheduling ', 'Design & Dev - 2017', 'calmeet'  )

    .project-content
      .text.columns
        p CalMeet is a simple web app that aims to ease and accelerate on-demand 1-on-1 scheduling.
        p This is a personal project, and I worked on every aspect of it. I challenged myself to deepen my understanding of React and build from a complete product from scratch. Owning the development allowed design to fourish to a whole new level because of the immediate communication between the two processes.
        p
          a(href="http://www.calmeet.co") calmeet.co

      .images
        +image("projects/calmeet/Calmeet_Anonymous", 'Users can use CalMeet without connecting to google')
        +image("projects/calmeet/Calmeet_Selection", 'When a user connects to google calendar, all the events are visible')

      .text.columns
        p One of the design goals was for the experience to be equally fast for an anonymous user as for a logged-in user. On top of that, I wanted to achieve a single-page no-scroll interface where everything can be reached without the need to jump to other pages or scroll down. This was achieved by dozens of puzzle-like iterations where design components, their hierarchy, and their size was fine tuned.

      .images
        +image("projects/calmeet/Calmeet_Logged", "After a user has selected some slots, s/he can copy a link and paste it anywhere")
        +image("projects/calmeet/Calmeet_Confirmed", "The receiving user has selected one slot and confirmed it. An email has been sent to both users")
