extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Day 9")

block content
  include ../views/templates

  section.project
    +project-header( '', 'Brand & Website Designs for eSprots commentator Day9', 'Design - 2012', 'day9' )

    .project-content
      .text
        p When Starcraft 2 beta came out I started playing really hard. Day9 daily video analysis helped me improve very fast by focusing on the basics.
        p I felt I had to return him the help. That's why I did a "fan art" redesign of his show background. He used it and was so happy that asked me to design his brand.
        p After that I continued working for him doing a variaty of brand design cases. Below are some examples
        p
          a(href="http://www.day9.tv") day9.tv


        +image("projects/day9/day9_o", "empty")

      .h2 Website

      .images
        +image("projects/day9/Day9TV_o", "empty")
        +image("projects/day9/Day9TV_Archive_o", "empty")
        +image("projects/day9/Day9TV_Manifesto_o", "empty")
        +image("projects/day9/Day9TV_SingleVideo_o", "empty")

      .h2 Shirts

      .images.vertical
        +image("projects/day9/2642p_138c_1m_o", "empty")
        +image("projects/day9/2728p_0c_1m_o", "empty")
        +image("projects/day9/2904p_0c_1m_o", "empty")
        +image("projects/day9/MonoBadassShirt_o", "empty")
        +image("projects/day9/CountdownShirt", "empty")


      .h2 Secondary Website - After Hour Gaming League

      .images
        +image("projects/day9/AHLG_1_o", "empty")
        +image("projects/day9/AHLG_4_o", "empty")
        +image("projects/day9/AHLG_5_o", "empty")
        +image("projects/day9/AHLG_6_o", "empty")

      .h2 Red Bull Battlegrounds Ingame Overlays

      .images
        +image("projects/day9/RedBullBattlegrounds_Thread_o", "empty")
        +image("projects/day9/RedBullBattlegrounds_Plates_o", "empty")
        +image("projects/day9/RedBullBattlegrounds_Plates2_o", "empty")
