extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Day 9")

block content
  include ../views/templates

  section.project
    +project-header( 'Aviate', 'Android Contextual OS/Launcher', 'Design - 2013-14', 'aviate' )

    .project-content
      .text
        .title Day[9]
        .subtitle
          | Famous eSports Comentator
          br
          | Brand Design - 2012
        p When Starcraft 2 beta came out I started playing really hard. Day9 daily video analysis helped me improve very fast by focusing on the basics.
        p I felt I had to return him the help. That's why I did a "fan art" redesign of his show background. He used it and was so happy that asked me to design his brand.
        p After that I continued working for him doing a variaty of brand design cases. Below are some examples
        p
          a(href="http://www.day9.tv") day9.tv


      .inner

        img(src="http://payload98.cargocollective.com/1/0/382/4269451/day9_o.jpg", width="100%")

        p
          strong Website

        img(src="http://payload98.cargocollective.com/1/0/382/4269451/Day9TV_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/Day9TV_Archive_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/Day9TV_Manifesto_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/Day9TV_SingleVideo_o.jpg", width="100%")

        p
          strong Shirts
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/2642p_138c_1m_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/2728p_0c_1m_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/2904p_0c_1m_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/MonoBadassShirt_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/CountdownShirt.jpg", width="100%")


        p
          strong Secondary Website - After Hour Gaming League

        img(src="http://payload98.cargocollective.com/1/0/382/4269451/AHLG_1_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/AHLG_4_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/AHLG_5_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/AHLG_6_o.jpg", width="100%")

        p
          strong Red Bull Battlegrounds Ingame Overlays


        img(src="http://payload98.cargocollective.com/1/0/382/4269451/RedBullBattlegrounds_Thread_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/RedBullBattlegrounds_Plates_o.jpg", width="100%")
        img(src="http://payload98.cargocollective.com/1/0/382/4269451/RedBullBattlegrounds_Plates2_o.jpg", width="100%")
