extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Foxie")

block content
  include ../views/templates

  section.project
    +project-header( 'Foxie', "Reading Comprenhension Tutor for Children", 'Design & Dev - 2017', 'foxie' )

    .project-content
      .text.columns
        p Foxie is a Reading Comprehension Tutor for young children (8-12). The goal is to combine a chat-and-voice tutor with a traditional ebook experience.
        p The tutor helps children by showing how to go about applying different reading techniques. Then, encourages them to reflect about the story with what they have learned.

        p The client didn't have a technical team yet but needed to design and develop a pilot for their idea.

        p It's built in React.js, Redux and Firebase as the backend.

      .images
        +image("projects/foxie/selection", 'First, children select which book they want to read')
        +image("projects/foxie/book-cover", 'Then, the tutor talks about the main intention for this reading, and which techniques will be used')

      .text.columns
        p A key design consideration was the use of a real voice that read the book out loud and mimicked what was said in the chat. That proved to establish a human connection with the child. And that produced a certain level of authority in the tutor, that, now, could be trusted.
        p Although, the key innovation was the introduction of a familiar interface (Chat) to the reading experience. We capitalized on the authority created through the use of voice to nudge the child to frequently re!ect on the book. When we tested, we saw how children had fun re!ecting and wrote on every single page out of their motivation even though it was not a requirement of the experience.
        p The massive win here (part of my life research) was to "nd out how to help create intrinsical motivation at scale through technology. In this case, the design, led children to self-driven e#ort and re!ection.

      .images
        +image("projects/foxie/tutoring", 'The tutor makes some observations')
        +image("projects/foxie/reflection", "Finally, the child can reflect on what is going on the story")
