extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Mikey")

block content
  include ../views/templates

  section.project
    +project-header( 'Mikey', 'Automated & Personalized Surfing Learning', 'Design & Dev - 2016-17', 'mikey' )

    .project-content
      .text.columns
        p Mikey is a personal research project on how to scale personalized learning. The focus of this particular project is to help people learn how to surf by creating an automated a conversation experience.
        p Mikey, a bot, chats with the user and offers new pieces of knowledge, videos, tips and feedback on surfing. By understanding the inputs of the user, Mikey opens up a new line of learning responding to user questions, preferences and their current skill level.

        p Built with: React Native (app), React.js + Electron (admin), , Redux, Firebase (backend)
        p Tech Stack: React, React Native, Electron, Firebase

      .images.vertical
        +image("projects/mikey/intro", "empty")
        +image("projects/mikey/video", "empty")

      .text.columns
        p One of the key findings was the realization that we’ve become accustomed to shifting our mental contexts when we switch between conversations. I explored this nuance to achieve parallel learning flows as opposed to the academic linear and sequential learning paradigm.
        p I also discovered that by contextualizing the conversation, the AI could have an easier time understanding what the user is saying. This is because the context helps limit possible scenarios, thus responding more precisely.

      .images.vertical

        +image("projects/mikey/conversations", "empty")
        +image("projects/mikey/topic", "empty")
        +image("projects/mikey/roadmap", "empty")

      .images
        +image("projects/mikey/coacher", "Tool to create conversation steps and triggers")
