extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Make Something Cool Every Day")

block content
  section.project
    .project-content
      .text
        .title Make Something Cool Every Day
        .subtitle
          | Graphic Design - 2011

        p Make Something Cool Everyday posters
        p published on the "The Modernist" book by Gestlaten

        a(href="http://usshop.gestalten.com/the-modernist.html")
          img(src="http://cdn.gestalten.com/media/catalog/product/cache/3/image/334x/9df78eab33525d08d6e5fb8d27136e95/t/h/themodernist_lay.jpg", width="100")




      .inner
        .row.flxWrap.jcsb
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Decoratives_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Decoratives_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/didones_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/didones_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Egipcies_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Egipcies_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/EukaryotePiramid_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/EukaryotePiramid_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Garaldes_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Garaldes_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/LinialsHumanistes_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/LinialsHumanistes_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/NeoGrotesques_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/NeoGrotesques_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Script_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Script_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Tallades_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Tallades_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Transicionals_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Transicionals_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Juliol_02_o_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Juliol_02_o_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Juliol05_01_o_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Juliol05_01_o_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Juliol07_02_o_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Juliol07_02_o_o.jpg")
          a.img(href="http://payload91.cargocollective.com/1/0/382/4128171/Cortazar-Time_o.jpg", style="width:33%;")
            img(src="http://payload91.cargocollective.com/1/0/382/4128171/Cortazar-Time_o.jpg")
