extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Make Something Cool Every Day")

block content
  include ../views/templates

  section.project
    +project-header( 'MSCED', 'Make Something Cool Everyday Posters', 'Design — 2011', 'msced' )

    .project-content
      .text.columns
        p Make Something Cool Everyday posters <br/> published on the "The Modernist" book by Gestlaten

        a(href="http://usshop.gestalten.com/the-modernist.html")
          img(src="http://cdn.gestalten.com/media/catalog/product/cache/3/image/334x/9df78eab33525d08d6e5fb8d27136e95/t/h/themodernist_lay.jpg", width="100")

      .images.three
        +image("projects/msced/Decoratives_o", "empty")
        +image("projects/msced/didones_o", "empty")
        +image("projects/msced/Egipcies_o", "empty")
        +image("projects/msced/EukaryotePiramid_o", "empty")
        +image("projects/msced/Garaldes_o", "empty")
        +image("projects/msced/LinialsHumanistes_o", "empty")
        +image("projects/msced/NeoGrotesques_o", "empty")
        +image("projects/msced/Script_o", "empty")
        +image("projects/msced/Tallades_o", "empty")
        +image("projects/msced/Transicionals_o", "empty")
        +image("projects/msced/Juliol_02_o_o", "empty")
        +image("projects/msced/Juliol05_01_o_o", "empty")
        +image("projects/msced/Juliol07_02_o_o", "empty")
        +image("projects/msced/Cortazar-Time_o", "empty")
