extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Sendokai Champions")

block content
  include ../views/templates

  section.project
    +project-header( 'Sendokai Champions', 'Soccer Runner', 'Game Direction - 2013', 'sendokai' )

    .row
      .text
        .title Sendokai Champions
        .subtitle
          | Soccer Runner
          br
          | Game Direction - 2013
        p Sendokai Champions is a Runner for iOS and Android devices based on the upcoming TV Show for kids "Sendokai Champions"
        p I led the development of the project by managing concept and 3D artists, programmers and sound designers. I was in charge of game and level design. I also programmed the level editor and designed the GUI.
        p
          a(href="http://www.desafiochampions.com") desafiochampions.com

        a(href="https://play.google.com/store/apps/details?id=com.kotoc.dcsendokairun&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5rb3RvYy5kY3NlbmRva2FpcnVuIl0.")
          img(src="https://lh4.ggpht.com/ogbm86YrKJxNGODhYj1X1kfDqg6csp-tqsm0UzpymtBNAGGAxCEPNq515zr1-1HqJfo=w300-rw", width="100")
        p Created at
          a(href="http://www.kotoc.cat/en") Kotoc




      .inner
        <iframe class="video" width="694" height="390" src="https://www.youtube.com/embed/abhQJgyyAkQ" frameborder="0" allowfullscreen></iframe>
