extends ../views/layout

block page-meta
  include ../views/templates
  +page-meta("Sendokai Champions")

block content
  include ../views/templates

  section.project
    +project-header( '', 'Fantasy Soccer Games for TV Show', 'Direction | Game Design | Developement — 2012', 'sendokai' )

    .project-content
      .text.columns
        p While Working at <a href="http://www.kotoc.cat/en" title="Kotoc" target="_blank">Kotoc</a>, I started the interactive media department. Our
        p Desafio Champions is an Action Sports MMORPG game based on soccer where you duke it out against another opponent in a 1 on 1 real-time match.
        p I led the development of the project and was its game designer. I also led its creative direction, and designed and developed the game UI.
        p
          a(href="http://www.sendokaichampions.com") sendokaichampions.com
        p Created at
          a(href="http://www.kotoc.cat/en")  Kotoc

      .images
        +image("projects/sendokai/LosProtagonistas", "empty" )

      .h2 Gameplay

      .images
        +image("projects/sendokai/DesafioChampions-13_o", "empty" )
        +image("projects/sendokai/DesafioChampions-06_o", "empty" )
        +image("projects/sendokai/DesafioChampions-01_o", "empty" )
        +image("projects/sendokai/DesafioChampions-09_o", "empty" )
        +image("projects/sendokai/DesafioChampions-12_o", "empty" )
        +image("projects/sendokai/DesafioChampions-04_o", "empty" )

      .h2 Concept Art

      .images
        +image("projects/sendokai/Estadio-del-Agua", "empty" )
        +image("projects/sendokai/Estadio-de-Fuego", "empty" )
        +image("projects/sendokai/Estadio-del-Aire", "empty" )

      .h2 Game Launcher / Team Profile / Community

      .images
        +image("projects/sendokai/perfil-de-equipo", "empty" )
        +image("projects/sendokai/seccio-juego", "empty" )
        +image("projects/sendokai/Tienda_o", "empty" )
        +image("projects/sendokai/Comunidad_o", "empty" )


      .h2 Sendokai Runner

      .images.vertical
        +image("projects/sendokai/sendokai-run-1", "empty" )
        +image("projects/sendokai/sendokai-run-2", "empty" )
        +image("projects/sendokai/sendokai-run-3", "empty" )
        +image("projects/sendokai/sendokai-run-4", "empty" )

        //- p
        //-   strong Tutorials
        //- <iframe width="694" height="390" src="http://www.youtube.com/embed/Uy2LRVLdZ9k?list=SP666F9D43D9CB2F2E&hl=es_ES" frameborder="0" allowfullscreen></iframe>
        //-
        //- <iframe width="694" height="390" src="http://www.youtube.com/embed/u7x5fGB_Xuw?list=SP666F9D43D9CB2F2E&hl=es_ES" frameborder="0" allowfullscreen></iframe>
        //-
        //- <iframe width="694" height="390" src="http://www.youtube.com/embed/RxG-o7zELBQ?list=SP666F9D43D9CB2F2E&hl=es_ES" frameborder="0" allowfullscreen></iframe>
        //-
        //- p
        //-   strong Technical Talk
        //- <iframe src="http://player.vimeo.com/video/48290749?byline=0&portrait=0&badge=0&color=30c9d1&autoplay=0" width="694" height="390" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        //- .em Technical Talk at GameLab (Spanish), I'm the one on the right
