doctype html
html(lange="en")

  head
    block page-meta
    include meta
    include head


  body.project-screen

    #App
      include header
      block content
      include footer


    include scripts
