#Scripts
  script( src="scripts/lib/jquery.min.js" )
  script( src="scripts/lib/tilt.jquery.min.js" )
  script( src="scripts/lib/image-scale.min.js" )
  script( src="scripts/app.js", type"text/javascript")
