article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.contain {
  background-size: contain;
}
.cover {
  background-size: cover;
}
.anchor {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.hide,
.hidden {
  display: none;
  visibility: hidden;
}
.show,
.shown {
  display: block;
  visibility: visible;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
.ignorecase {
  text-transform: none;
}
.tcenter {
  text-align: center;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}
.icon-16 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}
/*== TRANSITIONS ==*/
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.strike {
  text-decoration: line-through;
}
.ttc {
  text-transform: capitalize;
}
.ttu {
  text-transform: uppercase;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
.serif {
  font-family: georgia, times, serif;
}
.code {
  font-family: Consolas, monaco, monospace;
}
.courier {
  font-family: 'Courier Next', courier, monospace;
}
.helvetica {
  font-family: 'helvetica neue', helvetica, sans-serif;
}
.avenir {
  font-family: 'avenir next', avenir, sans-serif;
}
.athelas {
  font-family: athelas, georgia, serif;
}
.georgia {
  font-family: georgia, serif;
}
.times {
  font-family: times, serif;
}
.bodoni {
  font-family: "Bodoni MT", serif;
}
.calisto {
  font-family: "Calisto MT", serif;
}
.garamond {
  font-family: garamond, serif;
}
.baskerville {
  font-family: baskerville, serif;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.flx {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxCol {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxRow {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxWrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aifs {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aic {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aife {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcc {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcfs {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcfe {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsb {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsa {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfs {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfe {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asc {
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ass {
  -webkit-align-self: stretch;
  -ms-align-self: stretch;
  align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ofh {
  overflow: hidden;
}
.red {
  color: #ce3232;
}
.green {
  color: #a0ce32;
}
.orange {
  color: #ff8c00;
}
.blue {
  color: #0084FF;
}
.yellow {
  color: yellow;
}
.black {
  color: #11132D;
}
.black90 {
  color: #2A2A2A;
}
.black80 {
  color: #424242;
}
.black70 {
  color: #595959;
}
.black60 {
  color: #717171;
}
.black50 {
  color: #898989;
}
.black40 {
  color: #A1A1A1;
}
.black30 {
  color: #B8B8B8;
}
.black20 {
  color: #D0D0D0;
}
.black10 {
  color: #E7E7E7;
}
.black05 {
  color: #F3F3F3;
}
.white {
  color: white;
}
.op100 {
  opacity: 1;
}
.op90 {
  opacity: 0.9;
}
.op80 {
  opacity: 0.8;
}
.op70 {
  opacity: 0.7;
}
.op60 {
  opacity: 0.6;
}
.op50 {
  opacity: 0.5;
}
.op40 {
  opacity: 0.4;
}
.op30 {
  opacity: 0.3;
}
.op20 {
  opacity: 0.2;
}
.op10 {
  opacity: 0.1;
}
.op0 {
  opacity: 0;
}
.anchor {
  cursor: pointer;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.overflow {
  overflow: hidden;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
@font-face {
  font-family: "Circular";
  src: url("fonts/lineto-circular-pro-book.eot");
  src: url("fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-circular-pro-book.woff") format("woff"), url("fonts/lineto-circular-pro-book.ttf") format("truetype"), url("fonts/lineto-circular-pro-book.svg#lineto-circular-pro-book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("fonts/lineto-circular-pro-bookItalic.eot");
  src: url("fonts/lineto-circular-pro-bookItalic.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-circular-pro-bookItalic.woff") format("woff"), url("fonts/lineto-circular-pro-bookItalic.ttf") format("truetype"), url("fonts/lineto-circular-pro-bookItalic.svg#lineto-circular-pro-book") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("fonts/lineto-circular-pro-medium.eot");
  src: url("fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-circular-pro-medium.woff") format("woff"), url("fonts/lineto-circular-pro-medium.ttf") format("truetype"), url("fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("fonts/lineto-circular-pro-bold.eot");
  src: url("fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-circular-pro-bold.woff") format("woff"), url("fonts/lineto-circular-pro-bold.ttf") format("truetype"), url("fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("fonts/lineto-circular-black.eot");
  src: url("fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-circular-black.woff") format("woff"), url("fonts/lineto-circular-black.ttf") format("truetype"), url("fonts/lineto-circular-black.svg#lineto-circular-pro-black") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Circular';
  background: white;
  color: #13163D;
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}
a {
  text-decoration: none;
  color: #188FFF;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
a:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
a:hover {
  text-decoration: none;
  color: #000;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
a:hover:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.round-cutout {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.hCenter {
  margin: 0 auto;
}
.b1 {
  font-size: 15px;
  line-height: 20px;
}
.main-header {
  width: 100%;
  position: absolute;
  z-index: 100;
  padding: 30px 0;
}
.main-header.light {
  background: transparent;
}
.main-header.light .logo {
  color: #11132D;
  font-weight: 600;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  opacity: 1;
}
.main-header .inner {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.main-header .logo {
  font-size: 28px;
  color: white;
  display: block;
  font-weight: 500;
  letter-spacing: -0.005em;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(75));
  filter: alpha(opacity = (75));
  opacity: 0.75;
}
.main-header .back {
  position: relative;
  bottom: -12px;
  color: white;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(60));
  filter: alpha(opacity = (60));
  opacity: 0.6;
  z-index: 100;
}
.main-header .back:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  opacity: 1;
}
.main-header .contact {
  font-size: 20px;
  color: black;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  line-height: 43px;
}
.main-header .contact:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.main-header .contact:hover {
  color: #0084FF;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.main-footer {
  width: 88%;
  max-width: 1440px;
  margin: 40px auto 50px;
  font-size: 16px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(50));
  filter: alpha(opacity = (50));
  opacity: 0.5;
}
.projects-list {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 90px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.project-item,
.project-header {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  background: black;
}
.project-item .logo,
.project-header .logo {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin-bottom: 4px;
}
.project-item .logo-icon,
.project-header .logo-icon {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}
.project-item .logo-icon img,
.project-header .logo-icon img {
  width: 100%;
  height: auto;
}
.project-item .logo-image,
.project-header .logo-image {
  margin: -10px 0 -20px 0;
}
.project-item .logo-image .logo-icon,
.project-header .logo-image .logo-icon {
  height: 100px;
  width: 160px;
}
.project-item .cover,
.project-header .cover {
  width: 100%;
  height: 250px;
  margin: 40px;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.project-item .cover .inner img,
.project-header .cover .inner img {
  width: 100%;
  height: auto;
}
.project-item .title,
.project-header .title {
  font-size: 28px;
  color: white;
  font-weight: 500;
}
.project-item .description,
.project-header .description {
  width: 100%;
  color: white;
  font-weight: 300;
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
}
.project-item {
  width: 48%;
  margin: 1%;
  padding: 3% 3%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  position: relative;
  transform-style: preserve-3d;
}
.project-item:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.project-item:hover .cover {
  transform: translateZ(60px);
}
.project-item .cover {
  transform: translateZ(30px);
  -webkit-transition-property: all;
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 400ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 400ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 400ms;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}
.project-item .cover:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 850ms;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 850ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 850ms;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 850ms;
  transition-timing-function: ease-out;
}
.calmeet-background {
  background-image: linear-gradient(135deg, #FF3A3A 0%, #FF4C3A 20%, #FF4C3A 80%, #FF6D3A 100%);
}
.pillar-background {
  background-image: linear-gradient(135deg, #5EDCFF 0%, #1BBEFF 20%, #0AA1FF 80%, #007CDB 100%);
}
.open-background {
  background-image: linear-gradient(135deg, #4BB1FF 0%, #2886FF 20%, #2933FF 80%, #4F2AFF 100%);
}
.foxie-background {
  background-image: linear-gradient(135deg, #FFE152 0%, #FFC624 20%, #FFB224 80%, #FF8D24 100%);
}
.mikey-background {
  background-image: linear-gradient(135deg, #FF6400 0%, #FF8500 20%, #FFBD00 80%, #FFD300 100%);
}
.aviate-background {
  background-image: linear-gradient(135deg, #280FA1 0%, #4D1FA6 20%, #8E21AC 80%, #AC219A 100%);
}
.broadway-background {
  background-image: linear-gradient(135deg, #58636A 0%, #454955 20%, #181E32 80%, #0D0D3B 100%);
}
.presto-background {
  background-image: linear-gradient(135deg, #A7FFF4 0%, #28F4F2 20%, #1CBDEA 80%, #179FDB 100%);
}
.laland-background {
  background: url('/images/projects/laland/bkg.jpg') no-repeat center center;
  background-size: cover;
}
.sendokai-background {
  background: url('/images/projects/sendokai/bkg.jpg') no-repeat center center;
  background-size: cover;
}
.day9-background {
  background: #ffa719;
}
.msced-background {
  background: #EC5556;
}
.project {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.project .project-header {
  width: 100%;
  padding: 50px 5% 3%;
  position: relative;
  margin-bottom: 80px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.project .project-header .title {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.project .project-header .description {
  font-size: 28px;
  font-weight: 500;
  margin: 12px 0 8px;
}
.project .project-header .role {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(60));
  filter: alpha(opacity = (60));
  opacity: 0.6;
  margin-bottom: 20px;
}
.project .project-header .cover {
  max-height: 500px;
  max-width: 800px;
  height: 100%;
  height: 60vw;
  margin: 20px 12px 0;
}
.project .project-header .cover img {
  width: auto;
  height: 100%;
}
.project .project-content {
  width: 90%;
  max-width: 1000px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
}
.project .project-content .text {
  margin-bottom: 40px;
}
.project .project-content .text.columns {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
}
.project .project-content .text .title {
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0;
}
.project .project-content .text .subtitle {
  margin-bottom: 32px;
}
.project .project-content .text p {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 36px;
  color: #11132D;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
  filter: alpha(opacity = (80));
  opacity: 0.8;
}
.project .project-content .images {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 20px 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.project .project-content .images.vertical .image {
  max-width: 400px;
}
.project .project-content .images.three .image {
  max-width: 300px;
}
.project .project-content .images.shadow img {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.project .project-content .image {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 12px 12px 24px;
}
.project .project-content .image .image-inner {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.project .project-content .image .photo-caption {
  width: 80%;
  margin: 8px 0 20px 10%;
  position: relative;
  display: block;
  color: #A1A1A1;
  font-weight: 300;
}
.project .project-content .image .photo-caption:before {
  content: '↳';
  color: #D0D0D0;
  position: absolute;
  left: -20px;
  top: 1px;
}
.project .project-content .h2 {
  font-size: 36px;
  margin: 32px 0 20px;
  font-weight: 600;
  letter-spacing: -0.05em;
}
.project .project-content .video {
  margin: 8px;
}
.project .project-content .video iframe {
  width: 500px;
  height: 320px;
  background-color: #11132D;
}
.project .project-content iframe {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1100px) {
  .projects-list .cover {
    height: 220px;
    margin: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  .project-item {
    width: 100%;
  }
  .projects-list .cover {
    margin: 28px;
  }
  .project-screen .main-header {
    padding-top: 20px;
  }
  .project-screen .project .project-header {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .project .project-content .text {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
    -webkit-column-gap: 0px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 0px;
    /* Firefox */
    column-gap: 0px;
  }
  .main-header .inner {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .project-item {
    padding: 4%;
    margin: 3% 0%;
  }
  .projects-list .cover {
    height: 140px;
    margin: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .projects-list .cover {
    height: 140px;
  }
}
